.mainframe
{
  border: 1px solid;
  border-color: #d3d3d3;
  box-shadow: 5px 5px 5px #d3d3d3;
  width: 300px;
  padding: 0 10px 10px 10px;
  font-size: 10px;
  text-align: justify;
}

h3
{
  font-weight: bold;
  font-size: 20px;
  font-family: Arial Black, Arial, Sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-shadow: 2px 2px #cc7a00;
  text-shadow: 1px 1px #000000;
}

.image
{
  padding: 0 0 10px 0;
}

#myimage
{
  width: 300px;
  border-radius: 5%;
}

.innerframe
{
  border: 1px solid;
  border-color: #d3d3d3;
  border-radius: 5%;
  padding: 0 10px 0 10px;
  font-family: Trebuchet MS, Arial, Sans-serif;
  font-size: 15px;
}

#facts
{
  font-style: italic;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItems
{
  font-weight: bold;
}
